@model Phrases.Models.RegisterViewModel
@{
    ViewBag.Title = "My Voice - Register";
}

<div class="content">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="form-title font-green">Register</h3>
        <p class="hint"> Enter your personal details below: </p>
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Re-type Your Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-actions">
            <input type="submit" class="btn green btn-block uppercase" value="Register" />
        </div>
        <div class="create-account">
            <p>
                @Html.ActionLink("Log In", "Login", null, new { @class = "uppercase" })
            </p>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}